{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>About Us </h1>
        <un class="h4">
            <li>SiliconTech has four dining halls and one cafeteria within the campus.</li>
            <br>
            <li>Each of them serves freshly prepared, delicious, nutritious food from a variety of cuisines.</li>
            <br>
            <li>There are exclusive dining halls for vegetarians, non-vegetarians, and college staff.</li> 
            <br>
            <li> A common dining hall serves food for guests as well as staff members.</li>
            <br>
            <li>A dedicated Canteen Committee of student representatives, supervisors, and faculty manages the operations of the canteen.</li>
            <br><br><br>
            <br>
            <br>
        </un>
    </div>
{% endblock content %}