@media (max-width:414px){
    .responsive{
        height: 280px;
    }
}

@media (min-width:414px) and (max-width:912px){
    .responsive{
        height: 350px;
    }
}

@media (min-width:998px) and (max-width:990px){
    .responsive{
        height: 500px;
    }
}

@media (min-width:990px){
    .responsive{
        height: 250px;
    }
}

a{
    text-decoration: none;
}
.butn{
    padding-bottom: 0px;
}